<h2>Listing Items</h2>

<table data-datatable-server class="table">
  <thead>
    <tr>
      <th>Nsn</th>
      <th>Rep office</th>
      <th>Common name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Ui</th>
      <th>Aac</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<span><%= link "New Item", to: item_path(@conn, :new) %></span>
